/*
    Name:   Phil Hansen
    Class:  CIST 3900
    Desc:   The custom layout style sheet for my project webiste
*/

body {
    margin: 0px auto;
    width: 100%;
    min-width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87ceeb;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    font-variant: small-caps;
    text-align: center;
    background-color: #ffa07a;
    padding: 8px 0px;
    max-height: 10vw;
    min-height: 90px;
    width: 100%;
}
header h1{
    font-size: calc(16px + 3vw);
    transform: translate(0%, -65%);
    max-height: 10vw;
    display: inline-block;
    width: 20%;
}
header img {
    max-width: 180px;
    width: 10vw;
    min-width: 90px;
}
nav {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 0px, 8px;
}
nav a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    width: 90px;
    height: auto;
}
nav a:hover:not(.nav--current-page) {
    background-color: #d0d0d0;
    color: #000000;
}
footer {
    text-align: center;
    width: 100%;
}
footer p {
    margin: 8px;
}

.header--left {
    text-align: right;
}
.header--right {
    text-align: left;
}
.nav--current-page {
    background-color: #ffffff;
    color: #000000;
}
.content {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
}
.content--body {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 8px;
}
.content--body a {
    text-decoration: underline;
}
.content--body div {
    display: inline-block;
}
.content--body--block--text {
    width: 60vw;
    max-width: 720px;
    text-align: left;
}
.content--body--block img:not(.contact--link-ico){
    width: 30vw;
    max-width: 360px;
    min-width: 180px;
    margin:26px;
    vertical-align: top;
}
.contact--link-ico {
    vertical-align: middle;
    width:24px;
}
